/* Bordure form */
form{
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: rgba(34, 34, 34, 0.8);
    box-shadow: 0 0 20px 0 rgba(34, 34, 34, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

/* Full-width inputs */
input[type=text] {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

